body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#welcomeScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
